.add .add-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 999;
}
.add  .add-overlay  .add-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    width: 758px;
    height: 628px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 24px 32px;
}
.add .add-overlay .add-content h2{
    text-align: center;
    font-weight: 700;
font-size: 24px;
line-height: 30px;
}
.add .add-overlay .add-content .enter-name{
    Width:367px;
    Height:40px;
    border: 1px solid #A5A8B1;
    border-radius: 8px;
}
.add .add-content .date {
    display: flex;
    margin-top: 20px;
}
.add .add-content .date p {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.add .add-content .expired-date {
    margin-left: 65px;;
}
.add .add-content .price{
    margin-top: 20px;
}
.add .add-content .price span {
    font-weight: 500;
font-size: 16px;
line-height: 20px;

}
.add .add-content .price .single-price {
    margin-bottom: 8px;
}
.add .add-content .price p{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.add .add-content .single-price input,
.add .add-content .combo-price input{
    width: 148px;
    height: 40px;   
    border: 1px solid #A5A8B1;  
    border-radius: 8px;
}
.add .add-content .status {
    margin-top: 20px;
    font-weight: 600;
font-size: 16px;
line-height: 26px;
}
.add .add-content .status .ant-select{
    width: 176px;
}
.add .ant-select-arrow{
    color: #FF993C;
}
.ant-picker-suffix{
    color: #FF993C;
}
.add .add-content button:last-child{
    width: 160px;
    height: 48px;
    background: #FF993C;
    border-radius: 8px;
    color: #FFFFFF;
    margin-left: 24px;
}
.add .add-content .button {
    margin-left: 180px;
}
.add .add-content button{
    width: 160px;
    height: 48px;
    border: 1px solid #FF993C;
    border-radius: 8px;
    color: #FF993C;
    background-color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}