/* Menu CSS */
.Logo{
    margin-bottom: 59px;
    margin-left: 33px;
}
a{
   
    /* identical to box height, or 144% */
    color: #1E0D03;
    opacity: 0.6;
    letter-spacing: 0.015em;
}
ul li {
    list-style: none;
}
.Menu ul li {
    list-style: none;
    width: 252px;
    height: 56px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 24px;
    color: #1E0D03;
    margin-left: 10px;
}

nav a.active{
    background-color: #FFB800;
    border-radius: 8px;
     font-size: 18px;
     line-height: 24px;
     Padding: 15px 40px 15px 24px;
     opacity: 1;
     color: #fff;
     font-weight: 700;
     margin-left: -25px;
 }

.icon{
    padding-right: 15px;
    opacity: 0.6;
}
/* Seach CSS */
.Search{
    width: 437px;
    height: 48px;
    background: #EDE6E6;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 11px;
    opacity: 30%;
    font-style: italic;
  
}
.SearchIcon{
    margin-left: -49px;
}
/* Acc_Mail_Noti CSS */

.AccMailNoti{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
.search-noti{
    display: flex;
    justify-content: space-between;
}
.AccMailNoti{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
}
.AccMailNoti > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 29px;
    margin-right: 32px;
}
.AccMailNoti ul li {
    list-style: none;
    display: inline-block;
   
}
.Account{
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background: url("../../assets/images/Acc.png");
    
}

/* Content CSS */
.content{
    background-color: #FFFFFF;
    margin-top: 20px;
    min-height: 1080px;
    margin-right: 32px;
    border-radius: 24px;
    margin-bottom: 32px;
}

.content h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    padding-left: 24px;
    padding-top: 24px;
}

.content h3 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
padding-left: 24px;
    padding-top: 32px;
}
a:hover {
    color: #1E0D03;
}
.content .LineChart{
    margin: 29px 55px 0px 24px;
  
}

.date-picker {
    margin-left: 1176px ;
}
.date-picker2 {
    margin-left: 24px ;
    margin-top: 83px;
}
.content .chart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -134px;
}
/* FamilyPackage, EventPackage Chart */
.content .FamilyPackage{
    padding-right: 100px;
}
.content .FamilyPackage p,
.content .EventPackage p {
    margin-left: 77px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #1E0D03;
    margin-bottom: 25px;
   
}

.FamilyPackageChart, .EventPackageChart{
    width: 246px;
    height: 246px;
}
.statistical{
    display: flex;
    justify-content: flex-end;
    margin-right: 212px;
    margin-top: -217px;
}
.statistical .usedTickets,
.unusedTickets{
    width: 44px;
    height: 20px;
    border-radius: 4px;
    padding: 5px 20px;
    margin-right: 8px;
}
.statistical .usedTickets{
    background-color: rgba(79, 117, 255, 1);
}
.statistical .unusedTickets{
    background-color: 
    rgba(255, 138, 72, 1);
}
.statistical ul li{
    margin-bottom: 16px;
}